<mat-toolbar color="primary">
  <span>🦞 Lobs+R 🦞</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="app-content">
    <span *ngIf="this.lobbies.length < 1">Click the button below to add a lobby and get started</span><br />
    <button
      mat-mini-fab
      color="accent"
      matTooltip="Add new lobby"
      color="primary"
      (click)="addNewLobby()">
      <mat-icon>add</mat-icon>
    </button>
    <div cdkDropListGroup *ngIf="this.lobbies.length > 0">
      <div class="drop-list-container">
        <br />
        <h2>Lobbies</h2>
        <lobstr-lobby-list [lobbies]="lobbies"></lobstr-lobby-list>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>